name: brew pr-pull
on:
  workflow_run:
    workflows:
      - brew test-bot
    types:
      - completed
  workflow_dispatch:
    inputs:
      pr_number:
        description: Pull request number to process
        required: true

jobs:
  pr-pull:
    if: |
      (github.event_name == 'workflow_run' && github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.conclusion == 'success') ||
      github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install Homebrew Bundler RubyGems
        run: brew install-bundler-gems

      - name: Configure Git identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Upload bottles to GitHub Packages
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.repository_owner }}
          HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.pr_number || github.event.workflow_run.pull_requests[0].number }}
        run: |
          brew pr-pull --debug --warn-on-upload-failure "$PR_NUMBER" --tap="$GITHUB_REPOSITORY" --root-url="https://ghcr.io/v2/$GITHUB_REPOSITORY"
